<!DOCTYPE html>
<html>
	<head>
		<title>hello</title>
	</head>

	<body>
		<!-- dans les lignes ci-dessous, on insère du code ruby pour récupérer les variables créés dans simple.rb et pour les afficher dans le navigateur -->
		<p>Waouh, ça fonctionne <%= "#{@name}" %> </p>
		<p>Avec la variable de simple.rb <%= "#{@title}" %> </p>
	</body>

</html>